RewriteEngine on
RewriteRule ^show/?([0-9]+)/?$ show.php?id=$1
RewriteRule ^his/?$ his.php
RewriteRule ^hers/?$ hers.php
RewriteRule ^about/?$ about.php
RewriteRule ^help/?$ help.php
RewriteRule ^friendly/?$ friendly.php
